rules_version = '2';
service cloud.firestore {
  function isLoggedUser(auth) {
    return auth != null;
  }
  function isEqualsLoggedInUser(auth, uid) {
    return isLoggedUser(auth) && auth.uid == uid;
  }

  match /databases/{database}/documents {
    // "/{id}"がないとエラーになる
    match /health/{id} {
      allow get: if true;
      allow list, write: if false;
    }
    match /versions/{version} {
      match /users/{uid} {
        match /{document=**} {
          allow read: if isLoggedUser(request.auth);
          allow write: if isEqualsLoggedInUser(request.auth, uid);
        }
      }
    }
  }
}
